<!-- tentang profil start -->
<div class="reveal mt-4 mb-5">
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">About Profil</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
</div>
<!-- tentang profil end -->

<!-- visi-misi start -->
<div class="container-visi-misi reveal mt-5 mb-5">
    <div class="container-fluid p-3 m-1">
        <div class="row align-items-start">
            <div class="col-sm-4">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    height="450px" class="d-block w-100" />
            </div>
            <div class="col-sm-8">
                <div class="VisiMisiAlign">
                    <p>
                        <button class="btn visi" data-bs-toggle="collapse" data-bs-target="#visiContent" role="button"
                            aria-expanded="false" aria-controls="visiContent">
                            Visi
                        </button>
                    </p>
                    <div class="collapse show" id="visiContent">
                        <div class="card card-body">
                            Some placeholder content for the collapse component. This panel is hidden by default
                            but
                            revealed when the user activates the relevant trigger.
                        </div>
                    </div>
                </div>
                <p>
                    <button class="btn misi" type="button" data-bs-toggle="collapse" data-bs-target="#misiContent"
                        aria-expanded="false" aria-controls="misiContent">
                        Misi
                    </button>
                </p>
                <div class="collapse show" id="misiContent">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but
                        revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- visi-misi end -->

<!-- sejarah sokou start -->
<div class="reveal mt-4 mb-5">
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">Milestone</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
</div>
<!-- sejarah sokou end -->