<div class="container-card-gallery">
    <div id="card-header" class="d-flex justify-content-center mt-3">
        <h3>Gallery</h3>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-1">
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-2">
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-3">
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-4">
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-5">
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-6">
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-7">
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-8">
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-body mt-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-bottom" alt="Gallery-9">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- card gallery end -->