<!-- first content start-->
<section>
    <div class="container-content reveal m-1">
        <div class="container-fluid p-3 mb-2">
            <div class="row align-items-start">
                <div class="col-sm-4">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        height="450px" class="d-block w-100" />
                </div>
                <div class="col-sm-6">
                    <h1 id="content-header">Kenapa Harus Sokou Lampung?</h1><br>
                    <h3 id="content-body">Sokou Lampung bla bla bla asjdghafs safjh adhaskdj sdhkajhdk
                        fskajfh
                        saf
                        hasfkk saf askfhjas
                        fahksf sadgdf asfafs asd asdfdg ssadf</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- first content end -->

<!-- card product start -->
<section>
    <div id="card-header" class="reveal d-flex justify-content-center mt-3">
        <h3>Product</h3>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Jumper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-3">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Jumper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-3">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Jumper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-3">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-6">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-6">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-6">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a id="more-view" href="/Product" class="mt-3 mb-5">View More >>></a>
    </div>
</section>
<hr>
<!-- card product end -->

<!-- card testimonial start -->
<section>
    <div class="container-card-testimonial">
        <div id="card-header" class="reveal d-flex justify-content-center mt-3">
            <h3>Testimonial</h3>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Testimonial-1">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Testimonial-2">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Testimonial-3">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Testimonial-4">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Testimonial-5">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Testimonial-6">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a id="more-view" href="/Testimonial" class="mt-3 mb-5">View More
                >>></a>
        </div>
    </div>
</section>
<hr>
<!-- card testimonial end -->

<!-- card Gallery start -->
<section>
    <div class="container-card-gallery">
        <div id="card-header" class="reveal d-flex justify-content-center mt-3">
            <h3>Gallery</h3>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Gallery-1">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Gallery-2">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Gallery-3">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Gallery-4">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Gallery-5">
                    </div>
                </div>
                <div class="card reveal col-md-4 mt-3">
                    <div class="card-body mt-4">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img-bottom" alt="Gallery-6">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a id="more-view" href="/Gallery" class="mt-3 mb-5">View More
                >>></a>
        </div>
    </div>
    <hr>
</section>
<!-- card Gallery end -->