<!-- card product start -->
<div class="container-card-product">
    <div id="card-header" class="d-flex justify-content-center mt-3">
        <h3>Product</h3>
    </div>
    <div class=" container-fluid">
        <div class="row">
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Jumper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-1">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Jumper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-2">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Jumper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-3">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-4">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-5">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-6">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-7">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-8">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
            <div class="card reveal col-md-4 mt-3">
                <div class="card-header">
                    <h4 class="card-title">Hoodie Zipper</h4>
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                        class="card-img-top" alt="product-9">
                    <p class="card-text text-end mt-2">Harga: Rp. 65.000,00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- card product end -->