<div class="container-layout">
    <div class="col-md-12 col-md-offset-2">
        <div id="layoutSlide" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card text-bg-dark">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img" alt="slide-1">
                        <div class="card-img-overlay">
                            <h1 id="welcome" class="d-none d-md-flex">WELCOME TO SOK💔U LAMPUNG</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img src="http://img.priceza.co.id/img2/2130004/0001/2130004-20220526204115-17292702193767659.jpg"
                            class="card-img" alt="slide-2">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            class="card-img" alt="slide-3">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#layoutSlide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#layoutSlide" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>