<!-- nav section start -->
<div class="container-navigation">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SOK💔U</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#dashboard"
                aria-controls="dashboard">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="dashboard" aria-labelledby="dashboardLabel">
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="dashboardLabel">SOK💔U LAMPUNG</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Testimonial">Testimonial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Admin">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- nav section end -->